# update ranks every 15	minutes
# mkdir	-p /home/admin/logs/cron/
# chgrp	-R apache /home/admin/logs/
# chmod -R 775 /home/admin/logs/
# sudo su apache
# crontab crontab
# structure: minute hour day-of-month month day-of-week command
# day-of-week is 0-6 where 0 is sunday
# intervals: */20 means every 20th (minute, day, whatever)
*/15    *       *       *       *       /home/admin/.virtualenvs/eusay/bin/python /home/admin/public_html/eusay/manage.py update_ranks --settings=core.settings.production >> /home/admin/logs/cron/update_ranks_$(date +\%Y\%m\%d_\%H:\%M:\%S\%z).log
0	2	*	*	*	/home/admin/.virtualenvs/eusay/bin/python /home/admin/public_html/eusay/manage.py send_notification_emails --settings=core.settings.production >> /home/admin/logs/cron/send_notification_emails_$(date +\%Y\%m\%d_\%H:\%M:\%S).log

