Django==1.6.2
Markdown==2.4.1
Whoosh==2.6.0
bleach==1.4
django-debug-toolbar==1.2.1
django-endless-pagination==2.0
django-haystack==2.1.0
djangorestframework==2.3.13
html5lib==0.999
psycopg2==2.5.3
six==1.7.3
sqlparse==0.1.11
