/* Base */
.footer {
    margin: 40px auto 20px auto;
}
.footer a, .footer {
    color: grey;
}
.format-help-link:hover {
    cursor: pointer;
}
.pink {
	color: #ed174e !important;
}
body {
	background: #fff url("/static/img/cream_dust.png");
}
.navbar {
    margin-bottom: 0;
}
.mainContainer {
    margin-top: 20px;
}
.jumbotron {
    margin-bottom: 0;
}
#logo {
	font-size: 1.8em;
	font-family: Helvetica, Arial, sans-serif;
}
.navbar {
	border-radius: 0px !important;
}
.green {
    color: green;
}
.red {
    color: red;
}
.tri {
    font-size: 1.3em;
}
.tri:hover {
    color: grey;
    text-decoration: none;
}
/* Make markdown h1s, h2s, blockquotes look good in proposals and comments */
.comment h1, .proposal-text h1 {
    font-size: 1.3em;
}
.comment h2, .proposal-text h2 {
    font-size: 1.1em;
}
.comment blockquote, .proposal-text blockquote {
    font-size: 1em;
}

/* Fancy shadow effects */
.page-shadow {
	position: relative;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.02);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.02);
}
.page-shadow:before, .page-shadow:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}
.page-shadow:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}


/* Proposals pages (index) */
.index-main-button {
    margin-bottom: 5px;
}
.index-see-more-link {
    font-size: 0.6em;
}
.index-proposal {
    min-height: 250px;
    margin-bottom: 20px;
    padding: 15px;
}
.index-proposal-title {
    min-height: 62px;
    margin-bottom: 7px;
}
.endless_more, .endless_loading {
	display: block;
	margin: 10px auto 10px auto;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;x$
	border: 1px solid #cccccc;
	white-space: nowrap;
	border-radius: 6px;
	color: #333333;
	background-color: #ffffff;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
}
.endless_more:hover, .endless_loading:hover {
	color: #333333;
	text-decoration: none;
}

.voteUp {
    float: left;
    margin-top: 20px;
}
.voteDown {
    float: right;
    margin-top: 20px;
}


/* Proposal */
.proposal-hidden {
    display: none;
}
.proposal-progress-bar {
    margin-bottom: 20px;
    height: 5px;
    border-radius: 0;
    overflow: visible;
}
.proposal-page {
	margin-bottom: 15px;
	padding: 15px;
}
.proposal-text {
    margin-top: 20px;
    margin-bottom: 30px;
}
.proposal-vote-buttons {
    margin-top: 20px;
}
.proposal-tags {
    margin-top: 10px;
    font-size: 0.9em;
}
.proposal-response {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff url("/static/img/light_grey.png");
}

/* Comments */
.comments {
    padding: 15px;
}
.comment {
    padding: 15px;
    margin-top: 15px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.02);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.02);
}
.comment-meta {
    display: inline;
    color: grey;
    font-size: 0.9em;
}
.comment-user-name-link {
    color: #2F6CB1;
}
.comment-user-title {
    color: grey;
    font-size: 0.9em;
}
.comment-user-status {
    color: #F4CC11;
}
.comment-votes {
    float: right;
    color: grey;
    font-size: 0.9em;
}
.comment-reply-link {
    cursor: pointer;
}
/* Submission form  */
#similar {
    display: none;
}
#editUserForm {
    display: none;
}
#editUserText:hover {
    cursor: pointer;
}
.charNum {
    color: grey;
    font-size: 0.9em;
}

/* Tags */
.tag {
    background-color: #7AA8D5;
    margin: 3px;
    padding: 1px 3px;
    color: #ECECEC;
    display: inline-block;
}
.tag:hover {
    background-color: #6A92BE;
    color: #C5C5C5;
}
#tag-list label {
    /* tags in submit page */
    background-color: #7AA8D5;
    margin: 3px;
    padding: 1px 3px;
    color: #ECECEC;
    display: inline-block;
    font-weight: normal;
}
#tag-list label:hover {
    background-color: #6A92BE;
    color: #C5C5C5;
}
#tag-list li {
    /* make the tag list look less like a list */
    list-style: none;
    float: left;
}
#tag-list {
    padding-left: 0;
}
