<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}eusay{% endblock %}</title>

<!-- Bootstrap core CSS -->
<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="assets/stylesheets/starter-template.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">
#title {
	font-family: Helvetica, Arial, sans-serif;
	color: #9d9fa2;
}
#pink {
	color: #ed174e !important;
}
</style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
<a href="/"><h1 id="title">eu<span id="pink">say</span></h1></a>
</div><!-- /.container-fluid -->
</div><!-- /.navbar -->

<div class="container">
{% block content %}
{% endblock %}
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assetsjavascripts/bootstrap.min.js"></script>
</body>
</html>