{% for comment in comments %}   
                        
    <div class="comment row">
    	<div id="text_div" class="col-xs-10">
        	<p class="authorInfo">{{comment.user.name }}, {{comment.date }}</p>
        	<p>{{ comment.text | urlize }}</p>
        </div>
        <div id="comment_vote_div_{{ comment.id }}" class="col-xs-2 commentVotes">
			<script language="Javascript">
				setCommentVotesDiv('{{ comment.id }}', document.getElementById('comment_vote_div_{{ comment.id }}'))
			</script>
		</div>
		<hr />
    </div>
         
{% endfor %}