{% if user_vote == 1 %}
<div class="green voteUp"><a onclick="voteUpComment({{ comment.id }}, document.getElementById('comment_vote_div_{{ comment.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow green"></span></a> {{ comment.get_votes_up_count }} </div>
{% else %}
<div class="voteUp"><a onclick="voteUpComment({{ comment.id }}, document.getElementById('comment_vote_div_{{ comment.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow"></span></a> {{ comment.get_votes_up_count }} </div>
{% endif %}

{%if user_vote == -1 %}
<div class="red voteDown"><a onclick="voteDownComment({{ comment.id }}, document.getElementById('comment_vote_div_{{ comment.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow red"></span></a> {{ comment.get_votes_down_count }} </div>
{% else %}
<div class="voteDown"><a onclick="voteDownComment({{ comment.id }}, document.getElementById('comment_vote_div_{{ comment.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow"></span></a> {{ comment.get_votes_down_count }} </div>
{% endif %}
