{% extends "base.html" %}

{% block content %}

<table class="table table-striped">
<thead>
  <th>Comment</th>
  <th>Proposal</th>
  <th>Reason</th>
  <th>Moderator</th>
  <th>Date</th>
</thead>
<tbody>
  {% for h in hiddens %}
  <tr>
    <td>
      {{ h.comment.text }}
    </td>
    <td>
      <a href="/proposal/{{h.comment.proposal.id}}">{{ h.comment.proposal.title }}</a>
    </td>
    <td>
      {{ h.reason }}
    </td>
    <td>
      {{ h.moderator.name }}
    </td>
    <td>
      {{ h.date }}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
