{% extends "base.html" %}

{% block title %}
 | Hidden proposals
{% endblock %}

{% block content %}

<h1>Hidden Proposals</h1>

{% if hiddens %}
<table class="table table-striped">
<thead>
  <th>Proposal</th>
  <th>Reason</th>
  <th>Moderator</th>
  <th>Date</th>
</thead>
<tbody>
  {% for h in hiddens %}
  <tr>
    <td>
      <a href="/proposal/{{h.content.id}}">{{ h.content.title }}</a>
    </td>
    <td>
      {{ h.reason }}
    </td>
    <td>
      {{ h.moderator.name }}
    </td>
    <td>
      {{ h.createdAt }}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
No hidden proposals
{% endif %}

{% endblock %}
