{% extends "base.html" %}

{% block style %}
.green {
	color: green;
}
.red {
	color: red;
}
.proposal {
	min-height: 80px;
	border-left: 5px rgb(237, 23, 78) solid;
	margin-bottom: 10px;
}
.proposalName {
	color: black;
	font-size: 1.4em
}
.row1 {
	background-color: rgb(240, 240, 240);
}
.tri {
	font-size: 1.3em;
}
.tri:hover {
	color: grey;
	text-decoration: none;
}
.col-xs-2 {
	font-size: 1.5em;
}
{% endblock %}

{% block content %}
{% for proposal in proposals %}
<div class="row proposal {% cycle "row1" "row2" %}">
<div class="col-xs-8"><b><a href="/proposal/{{ proposal.id }}" class="proposalName">{{ proposal.title }}</a></b></div>
<div class="col-xs-2 green"><a onclick="vote_up_proposal({{ proposal.id }})" href="#" class="tri green">&#9650;</a> {{ proposal.votesUp }} </div>
<div class="col-xs-2 red"><a onclick="vote_down_proposal({{ proposal.id }})" href="#" class="tri red">&#9660;</a> {{ proposal.votesDown }} </div>
</div>
{% endfor %}
{% endblock %}
