{% load endless %}

{% lazy_paginate proposals %}
{% for proposal in proposals %}
<div class="row proposal {% cycle "row1" "row2" %}" id="proposal_row_{{ proposal.id }}">
	<div class="col-xs-8">
		<p><b><a href="/proposal/{{ proposal.id }}" class="proposalName">{{ proposal.title }}</a></b></p>
	</div>
	<div id="proposal_vote_div_{{ proposal.id }}">
		<script language="Javascript">
			setProposalVoteDiv('{{ proposal.id }}', document.getElementById('proposal_vote_div_{{ proposal.id }}'))
		</script>
	</div>
</div>
{% endfor %}
{% show_more "Show more proposals" "Loading" %}