{% load endless %}

{% lazy_paginate 9 proposals %}
{% for proposal in proposals %}

{% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
<div class="col-sm-4">
<div class="proposalCard" id="proposal_{{ proposal.id }}">
	<div class="proposalName">
		<b><a href="{% url 'proposal' proposal.id proposal.slug %}">{{ proposal.title }}<span></span></a></b>
	</div>
	<div class="cardVotes">
		<div class="votesUp">{{ proposal.get_votes_up_count }} for</div>
		<div class="votesDown">{{ proposal.get_votes_down_count }} against</div>
	</div> <!-- /.votes -->
    <div class="cardTags">
        Tags: {{ proposal.tags.all | join:", " }}
    </div>
	<div class="submissionTime">
		{{ proposal.createdAt | date:"j N Y" }}
	</div>
</div><!-- /.proposal -->

</div> <!-- /.col -->
{% if forloop.counter|divisibleby:3 %}</div><!-- /.row -->{% endif %}
{% endfor %}
{% show_more "Show more proposals" "..." %}