<a class="format-help-link pull-right" onclick="showFormattingHelp(this)">Formatting help</a>
<div class="submit-formatting-help">
    <p class="text-muted">You can format your text using <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.<br />
    For example, you can make:<br />
    # Headings # <br />
    ## Subheadings ##<br />
    *Italic text*<br />
    **Bold text**</br>
    Links, for example to [Google](http://www.google.com)<br />
    Note that submitting images won't work!
    </p>
</div>