{% load filters %}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>Comments</h3>
        <hr />

        {% if not hide %}
            <div class="row">
                <div class="col-xs-12 comment">
                    <form role="form" method="post" class="proposal-comment-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Add comment</label>
                            {{ form.text }}
                        </div>
                            <button type="post" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        {% endif %}

        {% for comment in comments %}
            {% if not comment.replyTo %}
                <!-- comment -->
                <div class="row">
                    <div class="col-xs-12 comment">
                        <p>
                            {% if comment.user.userStatus != "User" %}
                                <span class="glyphicon glyphicon-star comment-user-status" data-toggle="tooltip" title="{{ comment.user.get_userStatus_display }}"></span>
                            {% endif %}

                            <b>
                            {% if comment.user.hasProfile%}
                                <a href="{% url 'user' comment.user.slug %}" class="comment-user-name-link" data-toggle="tooltip" title="This user has made their profile public.">{{comment.user.name }}</a>
                            {% else %}
                                {{ comment.user.name }}
                            {% endif %}
                            </b>

                            {% if comment.user.title %}
                                <span class="comment-user-title">&nbsp;&nbsp;{{ comment.user.title }}</span>
                            {% endif %}
                        </p>
                        <p>
                            {{ comment.text | replace_bad_words | urlize | my_markdown }}
                        </p>
                        <span class="comment-meta">
                            {{ comment.createdAt|timesince_human }}
                            {% if not hide %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a class="comment-reply-link" onclick="showReplyForm({{ comment.id }})">reply</a>
                            {% endif %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% if user.isModerator %}
                                <a href="/hide_comment/{{ comment.id }}">hide comment</a>
                            {% else %}
                                <a href="/report_comment/{{ comment.id }}">report</a>
                            {% endif %}
                        </span>
                        <div class="comment-votes">
                            <span class="comment-votes-up green">
                                <span class="glyphicon glyphicon-thumbs-up"></span> 11&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <span class="comment-votes-down">
                                <span class="glyphicon glyphicon-thumbs-down"></span> 3
                            </span>
                        </div>
                    </div>
                </div>
                {% if comment.get_replies %}
                    {% for reply in comment.get_replies %}
                        <!-- comment reply -->
                        <div class="row">
                            <div class="col-xs-11 col-xs-offset-1 comment">
                                <p>
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                    {% if reply.user.userStatus != "User" %}
                                        <span class="glyphicon glyphicon-star comment-user-status" data-toggle="tooltip" title="This user is a {{ reply.user.userStatus }}."></span>
                                    {% endif %}
                                    <b>{{ reply.user.name }}</b>
                                    {% if reply.user.title %}
                                        <span class="comment-user-title">&nbsp;&nbsp;{{ reply.user.title }}</span>
                                    {% endif %}
                                </p>
                                <p>
                                    {{ reply.text | replace_bad_words | urlize | my_markdown }}
                                </p>
                                <span class="comment-meta">
                                    {{ reply.createdAt|timesince_human }}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    {% if user.isModerator %}
                                        <a href="/hide_comment/{{ comment.id }}">hide comment</a>
                                    {% else %}
                                        <a href="/report_comment/{{ comment.id }}">report</a>
                                    {% endif %}
                                </span>

                                <div class="comment-votes">
                                    <span class="comment-votes-up green">
                                        <span class="glyphicon glyphicon-thumbs-up"></span> 11&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                    <span class="comment-votes-down">
                                        <span class="glyphicon glyphicon-thumbs-down"></span> 3
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- comment reply form -->
                {% if not hide %}
                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1 comment comment-reply-form" id="comment-reply-form-box-{{ comment.id }}">
                            <form role="form" method="post" class="proposal-comment-form">
                                <div class="form-group" id="comment-reply-form-{{ comment.id }}">
                                    <label>Add comment</label>
                                    {{ form.text }}
                                    {% csrf_token %}
                                    <input type="hidden" name="reply_to" value="{{ comment.id }}" />
                                </div>
                                    <button type="post" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>