{% if user_vote == 1 %}
<div class="col-xs-2 green"><a onclick="vote_up_proposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow green"></span></a> {{ proposal.votesUp }} </div>
{% else %}
<div class="col-xs-2"><a onclick="vote_up_proposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow"></span></a> {{ proposal.votesUp }} </div>
{% endif %}

{%if user_vote == -1 %}
<div class="col-xs-2 red"><a onclick="vote_down_proposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow red"></span></a> {{ proposal.votesDown }} </div>
{% else %}
<div class="col-xs-2"><a onclick="vote_down_proposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow"></span></a> {{ proposal.votesDown }} </div>
{% endif %}