{% extends "base.html" %}

{% block script %}

post_comment(document.getElementById('beliefs_comment_form'), document.getElementById('beliefs_comments_div'))

{% endblock %}

{% block style %}
.textbox {
    background-color: rgb(240, 240, 240);
    padding: 8px;
}
h2, h3 {
    margin-left: 0px;
    padding-left: 8px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.col-xs-1 {
    margin: 5px 5px 5px 0px;
    padding-left: 10px;
}

.green {
    color: green;
}
.red {
    color: red;
}
.proposal {
    min-height: 80px;
    border-left: 5px rgb(237, 23, 78) solid;
    margin-bottom: 10px;
}
.proposalName {
    color: black;
    font-size: 1.4em
}
.row1 {
    background-color: rgb(240, 240, 240);
}
.tri {
    font-size: 1.3em;
}
.tri:hover {
    color: grey;
    text-decoration: none;
}
.col-xs-2 {
    font-size: 1.5em;
}
.authorInfo {
    color: grey;
    font-size: 0.8em;
    margin-bottom: 0.2em;
    margin-top: 1em;
}
hr {
    margin: 0px;
    padding: 0px;
}
.commentVotes {
    font-size: 1em;
    text-align: center;
}
.voteUp {
    float: left;
    margin-top: 20px;
}
.voteDown {
    float: right;
    margin-top: 20px;
}
}
{% endblock %}

{% block content %}

<div class="row">
    <div class="column-xs-12">
    <h2>{{ proposal.title }}</h2>
    </div>
</div>
<div class="row">
    <div id="vote_div_{{ proposal.id }}">
	    <script language="Javascript">
		    set_proposal_votes_div('{{ proposal.id }}', document.getElementById('vote_div_{{ proposal.id }}'))
	        </script>
    </div>
    <div class="col-xs-10"></div>
</div>
<div class="col-xs-10"></div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h3>What will we do?</h3>
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-xs-12">
        <div class="textbox">
            <p>{{ proposal.actionDescription }}</p>
        </div>
        <div class="comments">
            <a class="accordion-toggle" href="#actionComments" data-toggle="collapse">{{ action_comments.count }} comments</a>
            <div id="actionComments" class="accordion-body collapse col-xs-12" style="height: auto;">
                    <div id="action_comments_div" class="comment">
                       	<script language="Javascript">
                       	set_proposal_field_comments_div_and_count({{ proposal.id }}, 'action', document.getElementById('action_comments_div'), document.getElementById('action_comments_count'));
                       	</script>
                       </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.text }}
                </div>
                <button type="submit" class="btn btn-default" name="actionComment">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>What is the background to this?</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="textbox">
            <p>{{ proposal.backgroundDescription }}</p>
        </div>
        <div class="comments">
            <a class="accordion-toggle" href="#backgroundComments" data-toggle="collapse">{{ background_comments.count }} comments</a>
            <div id="backgroundComments" class="accordion-body collapse col-xs-12" style="height: auto;">
                     <div id="background_comments_div" class="comment">
                        	<script language="Javascript">
                        	set_proposal_field_comments_div_and_count({{ proposal.id }}, 'background', document.getElementById('background_comments_div'), document.getElementById('background_comments_count'));
                        	</script>
                        </div>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.text }}
                        </div>
                        <button type="submit" class="btn btn-default" name="backgroundComment">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>What beliefs motivate the actions you propose?</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="textbox">
            <p>{{ proposal.beliefsDescription }}</p>
        </div>
        <div class="comments">
            <a id="beliefs_comments_count" class="accordion-toggle" href="#beliefs_comments_collapsible" data-toggle="collapse">Comments</a>
            <div id="beliefs_comments_collapsible" class="accordion-body collapse" style="height: auto;">
                        
                        <div id="beliefs_comments_div" class="comment">
                        	<script language="Javascript">
                        	set_proposal_field_comments_div_and_count({{ proposal.id }}, 'beliefs', document.getElementById('beliefs_comments_div'), document.getElementById('beliefs_comments_count'));
                        	</script>
                        </div>
                        
                    <form id="beliefs_comment_form" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.text }}
                    </div>
                    <button type="submit" class="btn btn-default" name="beliefsComment">Submit</button>
                    <!--<button type="button" class="btn btn-default" onclick="post_comment(document.getElementById('beliefs_comment_form'), {{ proposal.id }}, 'beliefs', {{ user.sid }}, document.getElementById('beliefs_comments_div'))" name="beliefs_comment_button">Submit</button>-->
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}