{% if user_vote == 1 %}
<div class="col-xs-2 green"><a onclick="voteUpProposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow green"></span></a> {{ proposal.get_votes_up_count }} </div>
{% else %}
<div class="col-xs-2"><a onclick="voteUpProposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow"></span></a> {{ proposal.get_votes_up_count }} </div>
{% endif %}

{%if user_vote == -1 %}
<div class="col-xs-2 red"><a onclick="voteDownProposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow red"></span></a> {{ proposal.get_votes_down_count }} </div>
{% else %}
<div class="col-xs-2"><a onclick="voteDownProposal({{ proposal.id }}, document.getElementById('proposal_vote_div_{{ proposal.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow"></span></a> {{ proposal.get_votes_down_count }} </div>
{% endif %}