{% extends "base.html" %}

{% block style %}
.textbox {
	background-color: rgb(240, 240, 240);
	padding: 8px;
}
h2, h3 {
	margin-left: 0px;
	padding-left: 8px;
}
.green {
	color: green;
}
.red {
	color: red;
}
.col-xs-1 {
	margin: 5px 5px 5px 0px;
	padding-left: 10px;
}
{% endblock %}

{% block content %}

<div class="row">
	<div class="column-xs-12">
	<h2>{{ proposal.title }}</h2>
	</div>
</div>

<div class="row">
<div class="col-xs-1 green">{{ proposal.votesUp }}</div>
<div class="col-xs-1 red">{{ proposal.votesDown }}</div>
<div class="col-xs-10"></div>
</div>

<hr />

<div class="row">
	<div class="col-xs-12">
		<h3>What will we do?</h3>
	</div><!-- /column -->
</div><!-- /row -->
<div class="row">
	<div class="textbox col-xs-8">
		<p>{{ proposal.actionDescription }}</p>
	</div>
	<div class="col-xs-4">Comments will go here.</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>What is the background to this?</h3>
	</div>
</div>
<div class="row">
	<div class="textbox col-xs-8">
		<p>{{ proposal.backgroundDescription }}</p>
	</div>
	<div class="col-xs-4">Comments will go here.</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>What beliefs motivate the actions you propose?</h3>
	</div>
</div>
<div class="row">
	<div class="textbox col-xs-8">
		<p>{{ proposal.beliefsDescription }}</p>
	</div>
	<div class="col-xs-4">Comments will go here.</div>
</div>

{% endblock %}