{% extends "base.html" %}

{% block title %}
| Report proposal
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <h1>Report Proposal</h1>
    <div>
      <h3>Proposal Title: "{{ proposal.title }}"</h3>
    </div>
    <hr />
    <form id="hide_form" method="post" action="">
      {% csrf_token %}
      <div class="form-group">
	{{ form.reason }}
      </div>
      <button type="post" class="btn btn-default">Submit</button>
    </form>
  </div>
  <div class="col-xs-2"></div>
</div>

{% endblock %}
