{% extends "base.html" %}

{% block content %}
<form method="post" action="">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    {{ form.title }}
  </div>
  <div class="form-group">
    <label for="actionDescription">What will we do?</label>
    <p class="help-block">These should be specific actions that the Sabbatical Officers or EUSA as a whole can resolve to do, for example pressuring or lobbying bodies such as the University or the Government or publicising a particular stance on an issue. Use bullet points or a numbered list.</p>
    {{ form.actionDescription }}
  </div>
  <div class="form-group">
    <label for="backgroundDescription">What is the background to this?</label>
    <p class="help-block">This section should contain all of the factual information that led to the submission of this policy. This may include, but is not limited to, statistics, Government policy, current law, EUSA policy, situations that have occurred etc. The point is to inform the reader of the facts that they may not be aware of which have led you to submitting policy on the subject. This can be written as paragraphs, bullet points, a numbered list or a combination of either. You should be as concise as possible.</p>
    {{ form.backgroundDescription }}
  </div>
  <div class="form-group">
    <label for="beliefsDescription">What beliefs motivate the actions you propose?</label>
    <p class="help-block">This section should provide reasons why we should act in the way described above. It may be a statement of belief drawn from the facts outlined above, or anything else that is a justification of acting in the way outlined, including the desired effects of that action if these are not necessarily clear. This can be written as paragraphs, bullet points, a numbered list or a combination of either. You should be as concise as possible.</p>
    {{ form.beliefsDescription }}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}