{% if user_vote == 1 %}
<div class="col-xs-2 green"><a onclick="vote_up_{{ type }}({{ object.id }}, document.getElementById('vote_div_{{ object.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow green"></span></a> {{ object.votesUp }} </div>
{% else %}
<div class="col-xs-2"><a onclick="vote_up_{{ type }}({{ object.id }}, document.getElementById('vote_div_{{ object.id }}'))"><span class="glyphicon glyphicon-chevron-up arrow"></span></a> {{ object.votesUp }} </div>
{% endif %}

{%if user_vote == -1 %}
<div class="col-xs-2 red"><a onclick="vote_down_{{ type }}({{ object.id }}, document.getElementById('vote_div_{{ object.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow red"></span></a> {{ object.votesDown }} </div>
{% else %}
<div class="col-xs-2"><a onclick="vote_down_{{ type }}({{ object.id }}, document.getElementById('vote_div_{{ object.id }}'))"><span class="glyphicon glyphicon-chevron-down arrow"></span></a> {{ object.votesDown }} </div>
{% endif %}