{% extends extend_template %}

{% load filters %}
{% load static %}

{% block title %}
| Report comment
{% endblock %}

{% block content %}

<script id="form_scripts">

 $(document).ready(function() {
   prepareAmendForm();
 });
</script>


<h1 id="form_title" class="text-center">Amend Proposal</h1>
<br />

<div onload="onFormReady()" id="form_body">

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 alert alert-warning">
      Amendments will be posted as a comment on the original proposal. This allows other users to vote on and discuss proposed changes.
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form id="view_amendments" method="post" action="{% url 'amend_proposal' proposal.id %}">
	{% csrf_token %}


	<div class="form-group">
          <label for="title">Title</label>
          {{ form.title }}
	</div>

	<div class="form-group">
          <label for="text">Proposal Body</label>
          {% include "markdown_formatting_help.html" %}
          {{ form.text }}
          <div class="charNum">0/6000</div>
	</div>

	<button name="action" value="view" type="submit" class="btn btn-default">Preview</button>

      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form action="{% url 'amend_proposal' proposal.id %}" id="modal_form" method="post">
	{% csrf_token %}

	<div id="changes">
          {% if diff %}
          <div class="row proposal-text">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
              {{ diff | my_markdown }}
            </div>
          </div>
          <input type="hidden" name="text" value="{{ diff }}" />
          <button id="modal_submit_button" name="action" value="post" type="submit" class="btn btn-default">Submit Proposed Amendments</button>
          {% endif %}
	</div>

      </form>
    </div>
  </div>

</div>

{% endblock %}
