{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    {% block meta %}
    {% endblock %}

    <title>eusay{% block title %}{% endblock %}</title>

    <!-- JavaScript-->
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/voting.js" %}"></script>
    <script src="{% static "js/jquery.hideseek.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/endless-pagination.js" %}"></script>
    <script>   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');    ga('create', 'UA-55208952-1', 'auto');   ga('send', 'pageview');  </script> 
    <script>
	    // Include the UserVoice JavaScript SDK (only needed once on a page)
	    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/pkdsZYLlYc5qgntowfmvw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

	    //
	    // UserVoice Javascript SDK developer documentation:
	    // https://www.uservoice.com/o/javascript-sdk
	    //

	    // Set colors
	    UserVoice.push(['set', {
		     accent_color: '#e23a39',
		      trigger_color: 'white',
		       trigger_background_color: 'rgba(46, 49, 51, 0.6)'
	       }]);

	       // Identify the user and pass traits
	       // To enable, replace sample data with actual user traits and uncomment the line
	       UserVoice.push(['identify', {
		        //email:      'john.doe@example.com', // User’s email address
		         //name:       'John Doe', // User’s real name
		   //created_at: 1364406966, // Unix timestamp for the date the user signed up
	    //id:         123, // Optional: Unique id of the user (if set, this should not change)
   //type:       'Owner', // Optional: segment your users by type
  //account: {
         //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-left' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
    <script>

     function initPage() {
       // init autocomplete search
       $("#search-field").autocomplete({
	 source: function(request, response) {
	   $.getJSON("{% url "api_v1:autocomplete" %}?term=" + request.term, function(data) {
	     response(data.results, function(value) {
	       return {
		 label: value
	       };
	     });
	   });
	 },
	 select: function(event, ui) {
	   window.location.href = ui.item.link;
	 }
       });

       // hide formatting help
       $(".submit-formatting-help").hide(0);

       // init tooltips
       $('*[data-toggle="tooltip"]').tooltip();

       // start notification button
       prepareNotificationButton();

       // on update_proposal_status page, make sure the student council dropdown isn't shown unless needed
       if ($("#id_status option:selected").text() == "Going to Student Council") {
	 $('#proposal-student-council-form').show();
       }
       else if ($("#proposal-student-council-form").is(":visible")) {
	 $('#proposal-student-council-form').hide();
       }

       // smooth scrolling to internal links
       $('a[href^="#"]').on('click',function (e) {
	 e.preventDefault();

	 var target = this.hash,
	 $target = $(target);

	 $('html, body').stop().animate({
           'scrollTop': $target.offset().top
	 }, 900, 'swing', function () {
           window.location.hash = target;
	 });
       });

       $('#proposal-status-form #id_status').change(function(){
	 if (($("#id_status option:selected").text() == "Going to Student Council") && ($("#proposal-student-council-form").is(":hidden"))) {
	   $('#proposal-student-council-form').show();
	 }
	 else if ($("#proposal-student-council-form").is(":visible")) {
	   $('#proposal-student-council-form').hide();
	 }
       });

     } // end of initPage

     $(document).ready(initPage);

     function prepareNotificationButton() {
       var isVisible = false;
       $('*[data-poload]').click(function(event) {
	 event.preventDefault();
	 event.stopPropagation();
	 var e=$(this);
	 if (isVisible) {
	   e.popover('hide');
	   isVisible = false;
	 }
	 else {
	   var loadingContent = 'Loading...<div id="notifications-view-more"><hr /><p class="text-center"><a href="{% url 'notifications:all' %}">View All<span></span></a></p></div>';
	   e.popover({html: true, content:loadingContent, trigger: 'manual'}).popover('show');
	   isVisible = true;
	   if (typeof notificationsContent == 'undefined') {
	     $.get(e.data('poload'),function(d) {
	       e.popover('destroy');
               e.popover({html: true, content: d, trigger: 'manual'}).popover('show');
	       notificationsContent = d;
	       $('.notifier span').removeClass('pink');
	     });
	   }
	   else {
	     e.popover('destroy');
	     e.popover({html: true, content: notificationsContent, trigger: 'manual'}).popover('show');
	   }
	 }
       });

       $(document).on('click', function(event) {
	 $('*[data-poload]').each(function() {
	   if (isVisible) {
	     $(this).popover('hide');
	     isVisible = false;
	   }
	 });
       });

     }



     // show formatting help
     function showFormattingHelp(div) {
       $(div).next().slideToggle()
     };

     // count characters
     function countChars(val, maxLen) {
       var len = val.value.length;
       if (len >= maxLen) {
	 val.value = val.value.substring(0, maxLen);
	 $(val).next().text(len + "/" + maxLen);
       } else {
	 $(val).next().text(len + "/" + maxLen);
       }
     };

     function prepareAmendForm() {
       $('#view_amendments').ajaxForm({
	 success : function(response) {
	   var html = $.parseHTML(response);
	   var changes = $(html).find('#changes');
	   console.log($('#changes'));
	   $('#changes').html(changes);
	 }
       });
     }

     function putNewMessagesFromResponse(response) {
       var html = $.parseHTML(response);
       var selector = '#message_container';
       var messages = $(html).find(selector).children();
       if (messages.length != 0) {
	 // New messages
	 $(selector).html(messages);
	 $('html').animate({scrollTop:0}, 'slow');
	 return true;
       }
       else {
	 return false;
       }
     }


     // for displaying modal
     function displayModal(url, onLoadBody, applyAjaxForm) {
       console.log("Display modal");
       $.get( url, function(response) {
	 if (putNewMessagesFromResponse(response)) {
	   return;2
	 }
	 var html = $.parseHTML(response);
	 var title = $(html).find('#form_title').text();
	 var body = $(html).find('#form_body').children();
	 $('#modal_title').html(title);
	 $('#modal_body').html(body);
	 if (onLoadBody) {
	   onLoadBody();
	 }
	 $('#modal').modal();
	 if (typeof(applyAjaxForm) == "undefined" || applyAjaxForm == true) {
	   $('#modal_form').ajaxForm({ beforeSend: function() {
	     $('#modal_submit_button').attr('disabled', true);
	   }, success : function(response) {
	     $('#modal').modal('hide');
	     putNewMessagesFromResponse(response);
	   }});
	 }
       });
       return false;
     };

     function shareProposal() {
       FB.ui({
	 method: 'share_open_graph',
	 action_type: 'share',
	 object_type: 'eusay_app:proposal',
	 action_properties: JSON.stringify({
	   object:'{{ request.build_absolute_uri }}',
	 })
       }, function(response){});
     }

     function shareUpVote() {
       FB.ui({
	 method: 'share_open_graph',
	 action_type: 'eusay_app:vote_for',
	 object_type: 'eusay_app:proposal',
	 action_properties: JSON.stringify({
	   proposal:'{{ request.build_absolute_uri }}',
	 })
       }, function(response){});
     }

     function shareDownVote() {
       FB.ui({
	 method: 'share_open_graph',
	 action_type: 'eusay_app:vote_against',
	 object_type: 'eusay_app:proposal',
	 action_properties: JSON.stringify({
	   proposal:'{{ request.build_absolute_uri }}',
	 })
       }, function(response){});
     }

     
    </script>

    <script type="text/javascript">
     window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
    </script>


    {% block js %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.structure.min.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.theme.min.css" %}" rel="stylesheet">
    <style type="text/css">
     {% block style %}
     {% endblock %}
    </style>
  </head>
  <body>

    <script>
     window.fbAsyncInit = function() {
       FB.init({
	 appId      : '833467823344747',
	 xfbml      : true,
	 version    : 'v2.1'
       });
     };

     (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="modal" role="dialog" tabindex="-1" class="modal fade" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 id="modal_title" class="modal-title">Modal title</h4>
	  </div>
	  <div id="modal_body" class="modal-body">
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#eusay-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{% url 'frontpage' %}" id="logo">eu<span class="pink">say</span></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="eusay-navbar-collapse-1">
	  <ul class="nav navbar-nav">
            <li><a href="{% url 'submit' %}">Submit</a></li>
	    {% if user.is_authenticated and user.isModerator %}
	    <li><a href="{% url 'moderator_panel' %}">Moderator Panel</a></li>
	    {% endif %}
      <li><a href="{% url "tags_list" %}">Browse tags</a></li>
	  </ul>
	  <form class="navbar-form navbar-right" role="search" action="/search" method="get">
            <div class="form-group">
              <input type="text" class="form-control" id="search-field" name="q" placeholder="Search">
            </div>
	  </form>
	  {% if user.is_authenticated %}
	  <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="notifier"><a id="notifications_button" data-container="body" data-toggle="popover" title="Notifications" data-placement="bottom" data-poload="{% url 'notifications:all' %}" href="{% url 'notifications:all' %}"><span class="glyphicon glyphicon-inbox{% if user.has_unread_notifications %} pink{% endif %}"></span></a></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
		<li><a href="{% url 'user' user.slug %}">Profile</a></li>
		<li><a href="{% url 'logout' %}">Log out</a></li>
              </ul>
            </li>
	  </ul>
	  {% else %}
	  <a href="{% url 'login' %}" class="btn btn-primary btn-sm navbar-btn navbar-right" role="button">
            Login with EASE
	  </a>
	  {% endif %}
	</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% block progressbar %}
    {% endblock %}

    {% block jumbotron %}
    {% endblock %}

    <div id="main_container" class="container mainContainer endless_container">
      <div id="message_container">
	{% for message in messages %}
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
	  {{ message }}
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	</div>
	{% endfor %}
      </div>

      {% block content %}
      {% endblock %}

    </div> <!-- ./mainContainer -->

    <div class="footer">
      <div class="container text-center">
	<a href="{% url 'frontpage' %}">eu<span class="pink">say</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a href="{% url 'about' %}">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a>Contact</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a href="{% url 'api_v1:proposals' %}">API</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a href="{% url 'hidden_proposals' %}">Hidden proposals</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a href="{% url 'hidden_comments' %}">Hidden comments</a>
      </div>
    </div>
  </body>
</html>
