{% extends "base.html" %}

{% block title %}
| About
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <h1>Code of Conduct</h1>
    <p>eusay is a safe space. In using eusay, we expect students to abide by
      <a href="https://www.eusa.ed.ac.uk/eusapolicy/internal/safespaceupdate/">EUSA’s Safe Space policy</a>,
      which calls upon members “to respect the right of all students…and staff to enjoy EUSA as a safe space
      environment, defined as a space which is welcoming and safe and includes the prohibition of discriminatory
      language and actions.” Proposals or comments which are regarded as having breached Safe Space will be removed
      from eusay; we will seek, where possible, to contact the proposer or commenter to explain why this has happened.</p>

      <p>Interactions between students on eusay are also subject to the University of Edinburgh’s
        <a href="http://www.ed.ac.uk/schools-departments/academic-services/staff/discipline/code-discipline">Code of Student Conduct</a>.
        Under this Code, the University may take action against any student who is found guilty of (amongst other offences):</p>

      <ul>
        <li>“violent, indecent, disorderly, threatening or offensive behaviour or language (whether
          expressed orally, in writing or electronically) including harassment of any Person whilst
          engaged in any University work, study or activity;”</li>
        <li>“dishonesty in relation to the  University or its staff or in connection with holding
          any office in the University or in  relation to being a student of the University;”</li>
        <li>“behaving in a way which brings the University into disrepute (without prejudice to the
          right to fair and justified comment and criticism)”</li>
  </div>
  <div class="col-xs-2"></div>
</div>

{% endblock %}
