{% extends "base.html" %}

{% block title %}
| Hidden comments
{% endblock %}

{% block content %}

<h1>Hidden Comments</h1>
<p>These comments were hidden because they don't belong on eusay, probably because they breach safe space policy. View them at your own discretion.</p>

{% if hiddens %}
<table class="table table-striped">
  <thead>
    <th>Comment</th>
    <th>Proposal</th>
    <th>Reason</th>
    <th>Moderator</th>
    <th>Date</th>
  </thead>
  <tbody>
    {% for h in hiddens %}
    <tr>
      <td>
	{{ h.content.text }}
      </td>
      <td>
	<a href="{% url 'proposal' h.content.proposal.id h.content.proposal.slug %}">{{ h.content.proposal.title }}</a>
      </td>
      <td>
	{{ h.reason }}
      </td>
      <td>
	{{ h.moderator.username }}
      </td>
      <td>
	{{ h.createdAt }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
No hidden proposals
{% endif %}

{% endblock %}
