{% extends "base.html" %}

{% block title %}
| Notifications
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3>Notifications</h3>
        <ul>
            {% for key, count in unread %}
                <b>{% include "notifications_entry.html" %}</b>
            {% endfor %}
        
            {% for key, count in read %}
                {% include "notifications_entry.html" %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}