{% load filters %}

{% if key.0 == "proposal_response" %}
    <li>Official response to <a href="https://eusay.eusa.ed.ac.uk{% url 'proposal' key.1.id key.1.slug %}"> "{{ key.1.title }}"</a></li>

{% elif key.0 == "proposal_comment" %}
    <li>{{ count }} new comment{{ count|pluralize }} on <a href="https://eusay.eusa.ed.ac.uk{% url 'proposal' key.1.id key.1.slug %}">"{{ key.1.title }}"</a></li>

{% elif key.0 == "proposal_amendment" %}
    <li>{{ count }} new suggested amendment{{ count|pluralize }} to <a href="https://eusay.eusa.ed.ac.uk{% url 'proposal' key.1.id key.1.slug %}">"{{ key.1.title }}"</a></li>

{% elif key.0 == "comment_reply" %}
    <li>{{ count }} new repl{{ count|pluralize:"y,ies" }} to your <a href="https://eusay.eusa.ed.ac.uk{% url 'proposal' key.1.proposal.id key.1.proposal.slug %}#comment_{{ key.1.id }}">comment</a>: "{{ key.1.text|smart_truncate }}"</li>

{% elif key.0 == "student_council_soon" %}
    <li>{{ count }} student council{{ count|pluralize }} coming up soon!</li>

{% elif key.0 == "comment_hidden" %}
    <li>Your comment on <a href="https://eusay.eusa.ed.ac.uk{% url 'proposal' key.1.proposal.id key.1.proposal.slug %}">"{{ key.1.proposal.title }}"</a> was hidden by a moderator</li>

{% elif key.0 == "proposal_hidden" %}
    <li>Your <a href="https://eusay.eusa.ed.ac.uk{% url 'proposal' key.1.id key.1.slug %}">proposal, "{{ key.1.title }}",</a> was hidden by a moderator</li>

{% elif key.0 ==  "proposal_vote_up" %}
    <li>{{ count }} user{{ count|pluralize }} voted for <a href="https://eusay.ed.ac.uk{% url 'proposal' key.1.id key.1.slug %}">{{ key.1.title}}</a></li>

{% elif key.0 ==  "proposal_vote_down" %}
    <li>{{ count }} user{{ count|pluralize }} voted against <a href="https://eusay.ed.ac.uk{% url 'proposal' key.1.id key.1.slug %}">{{ key.1.title }}</a></li>

{% elif key.0 ==  "comment_vote_up" %}
    <li>{{ count }} user{{ count|pluralize }} voted for your <a href="https://eusay.ed.ac.uk{% url 'proposal' key.1.proposal.id key.1.proposal.slug %}#comment_{{ key.1.id }}">comment:</a> "{{ key.1.text|smart_truncate }}"</li>

{% elif key.0 ==  "comment_vote_down" %}
    <li>{{ count }} user{{ count|pluralize }} voted against your <a href="https://eusay.ed.ac.uk{% url 'proposal' key.1.proposal.id key.1.proposal.slug %}#comment_{{ key.1.id }}">comment:</a> "{{ key.1.text|smart_truncate }}"</li>

{% endif %}