{% load filters %}

<html>
    <body>
        <table>
            <tr>
                <td><b>Hi {{ username }},</b></td>
            </tr>
            <tr>
                <td>You have {{ count }} new notification{{ count|pluralize }} on <a href="https://eusay.eusa.ed.ac.uk">eusay</a>:</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for key, count in unread %}
                            {% include "notifications_entry.html" %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>