{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block meta %}
<meta property="fb:app_id"          content="833467823344747" />
<meta property="og:url"             content="{{ request.build_absolute_uri }}" /> 
<meta property="og:title"           content="{{ proposal.title }}" /> 
<meta property="og:type"            content="eusay_app:proposal" />
<meta property="og:image"           content="https://eusay.eusa.ed.ac.uk/static/img/eusay-logo-shadow.jpg" /> 
{% endblock %}

{% block title %}
{% if not hide %}
| {{ proposal.title }}
{% else %}
| Hidden proposal
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static "js/jquery.form.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script>

 function hideReplyForms() {
   // hide comment reply forms
   $(".comment-reply-form").hide({
     duration: 0
   });
 }

 function reloadAllCommentsFromResponse(response) {
   var html = $.parseHTML(response);
   var selector = '#proposal_comments';
   var comments = $(html).find(selector).children();
   if (comments.length != 0) {
     $(selector).html(comments);
   }
  }

 function askForComment() {
   var addCommentTarget = $('#add_comment_row').find('#id_text');
   var proposalVoteTarget = $('.proposal-vote-button');

   // Check direction of vote
   if (proposalVoteTarget.is('.btn-success') && proposalVoteTarget.is('.btn-danger')) {
     // No vote
     addCommentTarget.attr('placeholder', '');
   }
   else if (proposalVoteTarget.is('.btn-success')) {
     // Up vote
     addCommentTarget.attr('placeholder', 'Why do you agree with this proposal?');
     $('html').animate({scrollTop:addCommentTarget.offset().top}, 'slow');
   }
   else if (proposalVoteTarget.is('.btn-danger')) {
     // Down vote
     addCommentTarget.attr('placeholder', 'Why do you disagree with this proposal?');
     $('html').animate({scrollTop:addCommentTarget.offset().top}, 'slow');
   }
 }

 function initForms() {
   $('.proposal-comment-form').ajaxForm(
     { clearForm : true,
      beforeSend: function() {
	$('.submit-comment-button').attr('disabled', true);
	$('.submit-comment-button').text('Submitting...');
      },
      success: function(response, statusText, xhr) {
	$('.submit-comment-button').attr('disabled', false);
	$('.submit-comment-button').text('Submit');
	if (xhr.getResponseHeader('Is-Reply') != null) {
          // Reply posted
	  var html = $.parseHTML(response);
          var selector = '#comment_replies_' + xhr.getResponseHeader("Comment-Id");
          var comment = $(html).find(selector).children();
	  $(selector).html(comment);
	}
	else {
	  reloadAllCommentsFromResponse(response);
	}
	initForms();
	hideReplyForms();
	putNewMessagesFromResponse(response);
	var selector = '#comment_' + xhr.getResponseHeader('Comment-Id')
	$('html').animate({scrollTop:$(selector).offset().top}, 'slow');
      }
     });
   $('#proposal_vote_form').ajaxForm(
     { beforeSend: function() {
       $('.proposal-vote-button').attr('disabled', true);
       },
       success: function(response, statusText, xhr) {
	 $('.proposal-vote-button').attr('disabled', false);
	 var html = $.parseHTML(response);
	 var votes = $(html).find('#proposal_vote_div').children();
	 if (votes.length != 0) {
	   $('#proposal_vote_div').html(votes);
	 }
	 initForms();

	 // Reload progress bar
	 var progressBar = $(html).find('#proposal_progress_bar').children();
	 if (progressBar.length != 0) {
	   $('#proposal_progress_bar').html(progressBar);
	 }

	 // Reload messages and ask for comment if none
	 if (!putNewMessagesFromResponse(response)) {
	   askForComment();
	 }
       }
     });
   $('.comment_vote_form').ajaxForm(
     {beforeSend: function() {
       	 $('.comment-vote-button').attr('disabled', true);
      },
      success: function(response, statusText, xhr) {
       	$('.comment-vote-button').attr('disabled', false);
	var html = $.parseHTML(response);
	var selector = '#comment_' + xhr.getResponseHeader("Comment-Id");
	var comment = $(html).find(selector).children();
	if (comment.length != 0) {
	  $(selector).html(comment);
	}
	initForms();
	putNewMessagesFromResponse(response);
     }});
 };

 function showReplyForm(id) {
   $("#comment-reply-form-box-" + id).slideToggle("fast", function() {
     $("#comment-reply-form-" + id +  "> textarea").focus()
   });
 };

 function viewHiddenProposal() {
   $("#view-hidden-proposal-button").slideUp(function() {
     $(".proposal-hidden").slideDown()
   });
 };

 function showProposalActionMenu() {
   $("#proposal-action-menu").slideDown();
 };

 function hideProposalActionMenu() {
   $("#proposal-action-menu").slideUp();
 }

 $(document).ready(function() {
   initForms();
   hideReplyForms();
   $("#proposal-action-menu").hide(0);
 });

</script>

{% endblock %}

{% block progressbar %}
{% endblock %}

{% block content %}

{% if hide %}
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">Careful now</div>
      <div class="panel-body">
        <p>This proposal has been hidden. You can still view it, but it may not abide by EUSA safe space policy!</p>
        <p><strong>Reason:</strong> {{ hide.reason }}</p>
        <button type="button" class="btn btn-danger" id="view-hidden-proposal-button" onclick="viewHiddenProposal()">View anyway</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="proposal-page page-shadow{% if hide %} proposal-hidden{% endif %}">

    <div id="proposal-action-menu-open">
      <a href="#proposal-action-menu" onclick="showProposalActionMenu()"><span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>

      <div class="row">
        <div class="col-xs-12">
          <h2 id="proposal-title" class="text-center">{{ proposal.title }}</h2>
          <p class="text-center">
            {% if proposal.get_status_display == "Open for discussion" %}
              <span data-toggle="tooltip" title="EUSA has not yet responded to this proposal."><span class="glyphicon glyphicon-play-circle"></span> {{ proposal.get_status_display }}</span>
            {% elif proposal.get_status_display == "Work in progress" %}
              <span data-toggle="tooltip" title="EUSA is working on this proposal."><span class="glyphicon glyphicon-time"></span> {{ proposal.get_status_display }}</span>
            {% elif proposal.get_status_display == "Going to Student Council" %}
              <span class="green"><span class="glyphicon glyphicon-time"></span> {{ proposal.get_status_display }} on {{ proposal.student_council }}</span>
            {% elif proposal.get_status_display == "Resolved" %}
              <a class="green" href="#proposal-response"><span class="glyphicon glyphicon-ok-circle"></span> {{ proposal.get_status_display }} ▾</a>
            {% endif %}

            <br />

            <span id="proposal-user">by
            {% if proposal.user.hasProfile %}
                <a href="{% url 'user' proposal.user.slug %}">{{ proposal.user.username }}</a>
            {% else %}
                {{ proposal.user.username }}
            {% endif %}
            </span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="proposal-progress-bar-count">
            <span class="pull-left" id="proposal-progress-bar-count-for">
              <span class="glyphicon glyphicon-thumbs-up"></span> {{ proposal.upVotes }}
            </span>
            <span class="pull-right" id="proposal-progress-bar-count-against">
              <span class="glyphicon glyphicon-thumbs-down"></span> {{ proposal.downVotes }}
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
           <div id="proposal_progress_bar" class="progress proposal-progress-bar">
            <div class="progress-bar progress-bar-success proposal-progress-bar-up" style="width: {{ proposal.get_votes_up_percentage }}%">
            </div>
            <div class="progress-bar progress-bar-danger proposal-progress-bar-down" style="width: {{ proposal.get_votes_down_percentage }}%">
            </div>
          </div>
        </div>
      </div>
      <div class="row proposal-text">
	<div class="col-xs-10 col-xs-offset-1">
          {{ proposal.text | my_markdown }}
        </div>
      </div>

          {% for response in proposal.responses.all %}
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="well" id="proposal-response">
                <h4 class="text-center">
                  <span class="glyphicon glyphicon-star comment-user-status"></span>
                  {{ response.user.username }} ({{ response.user.get_userStatus_display }}) responded to this proposal:
                </h4>
                <p>{{ response.text }}</p>
                <span class="text-muted">{{ response.createdAt | date:"j M Y, f a" }}</span>
		{% if response.user == user %}
		<a onclick="javascript:return displayModal('{% url 'edit_response' response.id %}', null, false);" href="{% url 'edit_response' response.id %}">Edit Response</a>
		{% endif %}
              </div>
            </div>
          </div>
	  {% endfor %}

      <hr id="proposal-vote-form-top" class="fancy-hr" />

      <form id="proposal_vote_form" method="post">
        <input type="hidden" name="request" value="proposal_vote" />
        {% csrf_token %}
        <div id="proposal_vote_div" class="row proposal-vote-buttons">
          <div class="col-md-3 col-md-offset-2 col-xs-6">
            <button name="vote" value="up" type="submit" class="proposal-vote-button btn btn-lg btn-block {% if user_vote == -1 %} btn-default {% else %} btn-success {% endif %}"><span class="glyphicon glyphicon-thumbs-up"></span> Agree</button>
          </div>
          <div class="col-md-3 col-md-offset-2 col-xs-6">
            <button name="vote" value="down" type="submit" class="proposal-vote-button btn btn-lg btn-block {% if user_vote == 1 %} btn-default {% else %} btn-danger {% endif %}"><span class="glyphicon glyphicon-thumbs-down"></span> Disagree</button>
          </div>
        </div>
      </form>

      {% if proposal.tags.all %}
      <div class="row proposal-tags">
        <div class="col-xs-12">
          <p>Tags:<br />
            {% for tag in proposal.tags.all %}<a class="tag" href="{% url 'tag' tag.id tag.slug %}">{{ tag.name }}</a>{% endfor %}</p>
        </div>
      </div>
      {% endif %}

      <div class="row proposal-metainfo">
        <div class="col-xs-6">
          <span class="text-muted">{{ proposal.createdAt | date:"j M Y, f a" }}</span>
        </div>
	<div class="col-xs-6" class="pull-right">
	  <div class="col-xs-3 pull-right">
	    <a class="twitter-share-button"
	       href="https://twitter.com/share"
	       data-text="A proposal on eusay"
	       data-url="{{ request.build_absolute_uri }}">
	      Tweet
	    </a>
	  </div>
	  <div class="col-xs-5 pull-right">
	    <a href="#"
	       onclick="javascript: shareProposal()"
	       class="btn btn-xs btn-primary"
	       >
	      Share on Facebook
	    </a>
	  </div>
	</div>
      </div>

      <div class="row" id="proposal-action-menu">
        <div class="col-xs-12 btn-toolbar">
          <hr class="fancy-hr" />
          <span id="proposal-action-menu-close" class="glyphicon glyphicon-remove" onclick="hideProposalActionMenu()"></span>
          {% if not hide %}
          <div class="btn-group">
            {% if user.isModerator and not hide %}
            <a type="button" class="btn btn-default btn-xs" onclick="javascript:return displayModal('{% url 'hide_proposal' proposal.id %}', null, false);" href="{% url 'hide_proposal' proposal.id %}">Hide</a>
            {% else %}
            <a type="button" class="btn btn-default btn-xs" onclick="javascript:return displayModal('{% url 'report_proposal' proposal.id %}');" href="{% url 'report_proposal' proposal.id %}">Report</a>
            {% endif %}
            <a type="button" class="btn btn-default btn-xs" onclick="javascript:return displayModal('{% url 'amend_proposal' proposal.id %}', prepareAmendForm, false);" href="{% url 'amend_proposal' proposal.id %}">Propose Amendment</a>
            {% if user.userStatus == "Staff" or user.userStatus == "Officeholder" %}
            <a type="button" class="btn btn-default btn-xs" href="{% url 'update_proposal_status' proposal.id %}">Update proposal status</a>
            <a type="button" class="btn btn-default btn-xs" onclick="javascript:return displayModal('{% url 'respond' proposal.id proposal.slug %}', null, false);" href="{% url 'respond' proposal.id proposal.slug %}">Write official response</a>
            {% endif %}
            {% if proposal.user == user %}
	            <a type="button" class="btn btn-default btn-xs" onclick="javascript:return displayModal('{% url 'delete_proposal' proposal.id %}', null, false);" href="{% url 'delete_proposal' proposal.id %}">Delete</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div> <!-- /.proposal-page -->

    <div id="share_vote_buttons" class="hidden col-xs-12">
      <h3>Share your vote!</h3>
      <hr />
      <div class="col-xs-6">
	<a class="twitter-share-button"
	   href="https://twitter.com/share"
	   data-text="A proposal on eusay"
	   data-url="{{ request.build_absolute_uri }}">
	  Tweet
	</a>
      </div>
      <div class="col-xs-6">
	<a href="#"
	   onclick="javascript: shareProposal()"
	   class="btn btn-md btn-primary"
	   >
	  Share on Facebook
	</a>
      </div>
      <br />
      <br />
    </div>

    <div class="comments{% if hide %} proposal-hidden{% endif %}">
    {% include "proposal_comments.html" %}
    </div>

  </div> <!-- /.col -->

  <div class="col-xs-12 col-md-4" id="similar-proposals">
    {% if similar_proposals %}
        <h4 class="text-center">Similar proposals</h4>
        {% for proposal in similar_proposals %}
          {% include "index_proposal.html" %}
        {% endfor %}
    {% else %}
      {% if new_proposals %}
          <h4 class="text-center">New proposals</h4>
          {% for proposal in new_proposals %}
            {% include "index_proposal.html" %}
          {% endfor %}
        {% endif %}
    {% endif %}
  </div>
</div> <!-- /.row -->

{% endblock %}
