{% load endless %}

{% lazy_paginate 9 proposals %}
{% for proposal in proposals %}

{% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}

  <div class="col-sm-4">
    <div class="page-shadow index-proposal" id="proposal_{{ proposal.id }}">
      {% if proposal.response %}
      <div class="ribbon">
        <a><span class="glyphicon glyphicon-star"></span></a>
      </div>
      {% endif %}
      <div class="index-proposal-title">
        <h4><a class="pink" href="{% url 'proposal' proposal.id proposal.slug %}">
            {{ proposal.title }}
            <span></span>
        </a></h4>
      </div>
      <div class="index-proposal-bottom">
      <div class="index-proposal-tags">
          {{ proposal.tags.all | join:", " }}
      </div>
      {% if user.isModerator %}
      <div>Rank: {{ proposal.rank }}</div>
      {% endif %}
          <hr />
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <a href="{% url 'proposal' proposal.id proposal.slug %}" role="button" class="btn btn-sm btn-block btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> {{ proposal.get_votes_up_count }} For</a>
            </div>
            <div class="col-sm-6 col-xs-12">
              <a href="{% url 'proposal' proposal.id proposal.slug %}" role="button" class="btn btn-sm btn-block btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span> {{ proposal.get_votes_down_count }} Against</a>
            </div>
            </div>

          <div class="index-proposal-date">
            {{ proposal.createdAt | date:"j N Y P" }}
          </div>
      </div>
    </div><!-- /.proposal -->

  </div> <!-- /.col -->
  {% if forloop.counter|divisibleby:3 %}</div><!-- /.row -->{% endif %}
{% endfor %}
{% show_more "Show more proposals" "..." %}
