{% extends extend_template %}

{% block title %}
| Report proposal
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <h1 id="form_title">Report Proposal</h1>
    <div id="form_body">
      <div>
	<h3>Proposal Title: "{{ proposal.title }}"</h3>
      </div>
      <hr />
      <form action="{% url 'report_proposal' proposal.id %}" id="modal_form" method="post">
	{% csrf_token %}
	<div class="form-group">
	  {{ form.reason }}
	</div>
	<button id="form_submit_button" type="post" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>

{% endblock %}
