{% extends "base.html" %}

{% block title %}
| Respond
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <h1 id="form_title">Respond to "{{ proposal.title }}"</h1>
    <hr />
    <div id="form_body">
      <form action="{% url 'respond' proposal.id proposal.slug %}" id="modal_form" method="post">
	{% csrf_token %}
	<div class="form-group">
	  {{ form.text }}
	</div>
	<button id="form_submit_button" type="post" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>

{% endblock %}
