{% extends "base.html" %}
{% load static %}

{% block title %}
| Submit
{% endblock %}

{% block js %}
<script src="{% static 'js/markdown.js' %}"></script>
<script>
 $(document).ready(function() {
   // find similar proposals
   $("#title").change(function() {
     var query = $("#title").val();
     $.getJSON("/api/v1/search?format=json&q=" + query, function(data) {
       var output = "<ul>";
       for (var i in data.results) {
         output += "<li><a href='/proposal/" + data.results[i].id + "' class='alert-link'>" +  data.results[i].title + "</a> " + data.results[i].votesUp + " votes in favor</li>";
       }
       output += "</ul>";
       if (data.count == 0) {
         $("#similar").fadeOut();
       }
       else {
         $("#similarList").html(output);
         $("#similar").fadeIn();
       }
     });
   });

   // live search tags
   $('#tag-search-other').hideseek({
     highlight: true
   });
   $('#tag-search-liberation').hideseek({
     highlight: true
   });
   $('#tag-search-schools').hideseek({
     highlight: true
   });

   // hide checkboxes
   $('.tag-list input[type=checkbox]').hide();

   // differentiate already checked checkboxes
   $('.tag-list input').each(function() {
     if (this.checked) {
       $(this).parent().css({
         "background-color": "#A8C7D8",
         "border": "2px solid #c6e6f7"
       });
     }
   });

   // change tags' look when clicked
   $('.tag-list input[type=checkbox]').change(function() {
     if (this.checked) {
       $(this).parent().css({
         "background-color": "#A8C7D8",
         "border": "2px solid #c6e6f7"
       });
     }
     else {
       $(this).parent().css({
         "background-color": "#c6e6f7",
         "border": "2px solid #A8C7D8"
       });
     }
   });
 });
</script>
{% endblock %}

{% block content %}

<h2 id="proposal-submit-heading">Submit a proposal</h2>

{% if errors %}
{% for field,error in errors.items %}
<div class="alert alert-danger"><b>Error in {{ field }} field:</b> {{ error.as_text }}</div>
{% endfor %}
  {{ errors }}
{% endif %}

<form method="post" action="">
  {% csrf_token %}

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="form-group">
	<label for="title">Title</label>
	{{ form.title }}
      </div>
      <div id="similar" class="alert alert-info">
	<p><b>Heads up!</b> These proposals might be similar to yours:</p>
	<div id="similarList"></div>
      </div>

      <div class="form-group">
	<label for="text">Proposal Body</label>
	{% include "markdown_formatting_help.html" %}
	{{ form.text }}
	<div class="charNum">0/6000</div>
      </div>

      <div class="col-xs-12">
	<div style="padding: 10px 15px; background-color: #F6F6F6" class="default-alert">
	  <strong>Preview</strong>
	  <br /> <br />
	  <div id="preview"></div>
	</div>
      </div>


    </div>

    <script>
     function Editor(input, preview) {
       this.update = function() {
         preview.innerHTML = markdown.toHTML(input.value);
       };
       input.editor = this;
       this.update();
     }
     var e = function (id) { return document.getElementById(id); };
     new Editor(e("text"), e("preview"));
    </script>

    <div class="col-xs-12 col-md-4">
      <div class="alert alert-warning">
	      <h4>What to write</h4>
        What do you want EUSA to do?<br />
        Why should this be done?<br />
        Do you have any specific ways to achieve this in mind?
      </div>
    </div>
  </div>
  <h3>Tags</h3>
  <div class="row">
    <div class="col-xs-12 col-md-8 tag-group">
      <h4>General</h4>
      <div class="tag-list">
        {{ form.other_tags }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 tag-group">
      <h4>Liberation groups</h4>
      <div class="tag-list">
        {{ form.liberation_tags }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 tag-group">
      <h4>Schools</h4>
      <div class="tag-list">
        {{ form.school_tags }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
