{% extends "base.html" %}

{% block title %}
 | Update proposal status
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="alert alert-warning" role="alert">
        <b>If changing the status, please make sure to write a proposal response to
          update students on what is happening.</b>
      </div>
      <div class="alert alert-info" role="alert">
        <b>Open for discussion</b>: The default status. EUSA has not taken up this proposal yet.<br />
        <b>Work in progress</b>: EUSA is currently acting on this proposal.<br />
        <b>Going to Student Council</b>: The proposal will be taken up at a future student council. If this is
        the case, please specify a date!<br />
        <b>Resolved</b>: The proposal has been resolved.

      </div>
      <form method="post" action="">
        {%  csrf_token %}

        <div class="form-group" id="proposal-status-form">
          <label for="id_status">Update proposal status</label><br />
          {{ form.status }}
        </div>

        <div class="form-group" id="proposal-student-council-form">
          <label for="id_student_council">If status is "Going to Student Council", choose a date</label><br />
          {{ form.student_council }}
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-md btn-default" href="{% url 'proposal' proposal.id proposal.slug %}">Cancel</a>
      </form>
    </div>
  </div>


{% endblock %}